<div class="container">
  <div class="row">
    <div class="col">
       <p>
         <strong>Name:</strong>
         <%= @property.name %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @property.address %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @property.price %>
        </p>

        <p>
         <strong>Rooms:</strong>
         <%= @property.rooms %>
        </p>

        <p>
          <strong>Bathroom:</strong>
          <%= @property.bathroom %>
        </p>

        <p>
          <strong>Photo:</strong>
          <% if @property.photo.attached? %>
            <%= image_tag @property.photo, width: "200px" %>
          <% end %>  
        </p>
      </div>
    </div>
</div>      

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
