
         
         <div class="main-photo">
          <% if @property.photo.attached? %>
            <%= image_tag @property.photo, style:"width:105%; height:95vh; position: relative;"%>
          <% end %> 
         </div> 
<div class="container">
  <div class="row">
    <div class="col">  
       <p>
         <strong>Name:</strong>
         <%= @property.name %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @property.address %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @property.price %>
        </p>

        <p>
         <strong>Rooms:</strong>
         <%= @property.rooms %>
        </p>

        <p>
          <strong>Bathroom:</strong>
          <%= @property.bathroom %>
        </p>
      </div>
    </div>
</div>      

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
