
  <% if @property.photo.attached? %>
   <%= image_tag(@property.thumbnail) %>
  <% end %>
 <br />  
<div class="container">
  <div class="row">
    <div class="col">  
       <h2>
         <%= @property.name %>
        </h2>

        <p>
          <strong>Address:</strong>
          <%= @property.address %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @property.price %>
        </p>

        <p>
         <strong>Rooms:</strong>
         <%= @property.rooms %>
        </p>

        <p>
          <strong>Bathroom:</strong>
          <%= @property.bathroom %>
        </p>
      </div>
    </div>
</div>      

