<main>

 <section class="py-5 text-center shadow-sm " class="photo">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="display-3">Search for your home today....</h1>
          <%= link_to "View Property", properties_path, class:"btn btn-primary my-2" %>
        </p>
      </div>
    </div>
  </section>
<br /><br /><br /></br></br>

<h2>Latest Property</h2>
<br /><br />
<section>
     <div class="row">        
        <% @properties.each do |property| %>
          <div class="col-3" style="width:300px; height:300px;">
            <%= image_tag property.photo, style:"width:100%; height: auto;"%>
             <h3><%= link_to property.name, property_path(property) %></h3><br>
             <h4>Address: <%= property.address %></h4>
             <h4>Price: <%= property.price %></h4>
             <h4>Rooms: <%= property.rooms %></h4>
             <h4>Bathroom: <%= property.bathroom %></h4> 
          </div> 
        <% end %>
      </div> 
    </div>         
  </section>
  
  <br /><br /></br></br></br> <br /><br /></br></br></br>
<div class="container">
    <!-- Example row of columns -->
    <div class="row text-center pt-5 pb-5 mb-5 bg-light">
      <div class="col-md-4">
        <h3>Most Properties</h3>
        <p>The most comprehensive property listings for sale. Search condos, terrace houses, apartments, bungalows, semi-d or more.</p>
      </div>
      <div class="col-md-4">
        <h3>Most Rentals</h3>
        <p>Looking to rent a home in a condo, apartment, studio apartment or terrace? We have the most comprehensive property listings in your area.</p>
      </div>
      <div class="col-md-4">
        <h3>Property News</h3>
        <p>Stay up to date on the property market with our informative blog posts. Get helpful tips on mortgages, choosing a property and more.</p>
      </div>
    </div>

    <!-- <hr /> -->
  </div>

</main>